*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: lightblue
}

#page2 h1{
    color: black;
    text-transform: uppercase;
    font-size: 42vw;
    font-weight: 700;
}

#page3{
    height: 100%;
    width: 100%;
   
}